.checkbox {
  display: flex;
  justify-content: flex-start;
  position: relative;
  opacity: 1;
  transition: opacity .3s linear;
}

.checkbox:hover {
  opacity: .7;
}

.checkbox__button {
  width: 36px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.checkbox__button_active {
  background: url('../../images/check-active.svg') center center no-repeat;
}

.checkbox__button_inactive {
  background: url('../../images/check-inactive.svg') center center no-repeat;
}

.checkbox__text {
  margin-left: 14px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .checkbox {
    flex-direction: row-reverse;
  }

  .checkbox__text {
    margin-left: 0;
    margin-right: 14px;
  }
}

@media screen and (max-width: 425px) {
  .checkbox {
    justify-content: center;
  }
}